@use './variables' as *;
@use './mixins' as *;

body {
    background-color: $yellow-1;
}

hr {
    border: 1px solid $orange-3;
}

// skip-link for keyboard users
.skip-link {
    color: $white-1;
    background-color: $red-1;
}

// navbar
.navbar {
    background-color: $yellow-2a;
    color: $black-1;
}

.navbar__brand {
    color: $black-1;
}

.navbar__toggler {
    background-color: transparent;
    outline: 1px solid $grey-2;
    color: $grey-3;
    border: transparent;

    &:focus {
        outline: 2px solid $grey-3;
    }
}

.navbar__nav-link {
    color: $grey-1;

    &:visited {
        color: $brown-3;
    }

    &:active {
        color: $grey-3;
    }
}

// home
#home {
    border-bottom: 1px solid $orange-3;
}

.hero-text {
    color: $white-4;
}

// small menu
//buttons when the accordion panel is close
.small-menu__accordion {
    background-color: $orange-2a;
    color: $black-1;

    &:hover {
        background-color: $orange-2;
        color: $yellow-2;
    }

    //"plus" sign (+) 
    &:after {
        color: $grey-3;
    }

    &:focus {
        outline: 2px solid $orange-3;
    }
}

//buttons when the accordion panel is open
.small-menu__accordion--active {
    background-color: $orange-2;
    color: $yellow-2;

    // "minus" sign (-)
    &:after {
        color: $yellow-2;
    }
}

/* Style the accordion panel. Note: hidden by default */
.small-menu__panel {
    background-color: $white-1;
    border: 1px solid $orange-1;
}

// carousel
/* Caption text */
.small-menu__image-description {
    background-color: $orange-3;
    color: $white-3;
    border-top: 1px solid $orange-3;
}

//Next & previous buttons
.small-menu__slideshow-button--prev,
.small-menu__slideshow-button--next {
    color: $orange-3;
}

.small-menu__slideshow-dot {
    background-color: $orange-1;
}

.small-menu__slideshow-dot:hover,
.slideshow-dot--active {
    background-color: $orange-2;
}

// large menu
.large-menu__tab {
    border: 1px solid $orange-1;
    background-color: $yellow-2b;

    &:hover {
        background-color: $orange-2;
        font-weight: bold;
    }

    &--active {
        border: 1px solid $orange-1;
        background-color: $orange-2;
    }
}

// .large-menu__tab-link {
//     color: $black-1;
// }

// .large-menu__tab:hover .large-menu__tab-link {
//     color: $white-2;
// }


// .large-menu__tab--active .large-menu__tab-link {
//     color: $yellow-2;
// }

// menu content
.large-food-menu {
    border: 1px solid $orange-1;
    background-color: $white-1;
}

.large-menu__item {
    border-bottom: 1px solid $orange-1;

    @include min-mq(md) {
        border-right: 1px solid $orange-1;
    }
}

.large-menu__item-price {
    background-color: $orange-2;
    color: $white-1;
}

// reservation-form
.reservation__photo img {
    border: 1px solid $white-5;
    background-color: $white-1;
}

.mandatory-field {
    color: $red-1;
}

.input-control {
    color: $black-2;
}

.textarea-control {
    color: $black-2a;
}

.input-control,
.textarea-control,
select {
    background-color: $white-1;
    border: 1px solid $grey-2;
}

/* change textarea color when the user is typing */
.textarea-control.input {
    color: $black-1;
}

input:focus,
textarea:focus {
    border: 1px solid $black-1;
    outline: 1px solid $black-1;
}

.error-input {
    border: 1px solid $red-1;
    outline: 1px solid $red-1;
}

.error-message {
    color: $red-1;
}

.reservation__form--button {
    background-color: $black-1;
    color: $white-1;
    box-shadow: 1px 1px 1px $grey-4;

    &:hover {
        outline: 3px solid $orange-4;
    }

    &:focus {
        outline: 3px solid $orange-4;
    }
}

// findus
.findus h2 {
    border-bottom: 4px dotted $grey-2;
}

.contact__icon {
    color: $grey-3;
}

/* links for 
contacts in findus and
social icons in footer  */
.g-link {
    color: $brown-1;
}

.g-link:hover {
    color: $brown-3;
}

.g-link:active {
    color: $brown-2;
}