@use '../../scss-common-partials/variables' as *;
@use '../../scss-common-partials/mixins' as *;

body {
    background-color: $yellow-1;
}

hr {
    border: 1px solid $orange-3;
}

// skip-link for keyboard users
.skip-link {
    color: $white-1;
    background-color: $red-1;
}

// navbar
.navbar {
    background-color: $yellow-2a;
    color: $black-1;
}

.navbar__brand {
    color: $black-1;
}

.navbar__toggler {
    background-color: transparent;
    outline: 1px solid $grey-2;
    color: $grey-3;
    border: transparent;

    &:focus {
        outline: 2px solid $grey-3;
    }
}

.navbar__nav-link {
    color: $grey-1;

    &:visited {
        color: $brown-1;
    }

    &:active {
        color: $grey-3;
    }
}

// home
#home {
    border-bottom: 1px solid $orange-3;
}

.hero-text {
    color: $white-4;
}

// small menu
//buttons when the accordion panel is close
.small-menu__accordion {
    color: black;
    background-color: rgb(249, 224, 187);

    &:hover {
        background-color: #A35A00;
        color: $yellow-2;
    }

    //"plus" sign (+) 
    &:after {
        color: $grey-3;
    }

    &:focus {
        outline: 2px solid $orange-3;

        &:after {
            color: $yellow-2;
        }
    }
}

//buttons when the accordion panel is open
.small-menu__accordion--active {
    background-color: #A35A00;
    color: $yellow-2;

    // "minus" sign (-)
    &:after {
        color: $yellow-2;
    }
}

/* Style the accordion panel. Note: hidden by default */
.small-menu__panel {
    background-color: $white-1;
    // border color change in the small-menu.js
}

// large menu
.large-menu__tab {
    background-color: #fff6d7ce;
    color: #A35A00;
    border: 1px solid #ffde67;

    &:hover {
        font-weight: bold;
        color: rgb(250, 248, 241);
        background-color: rgb(197, 137, 64);
        border: 1px solid rgb(197, 137, 64);
    }

    &--active {
        border: 1px solid rgb(197, 137, 64);
        color: #FFF0B8;
        background-color: #A35A00;
    }
}

// menu content
.large-food-menu {
    border: $large-menu-border-color;
    background-color: $white-1;
}

.large-menu__item {
    border-bottom: $large-menu-border-color;

    @include min-mq(md) {
        border-right: $large-menu-border-color;
    }
}

.large-menu__item-price {
    background-color: $orange-5;
    color: $white-1;
    // background-color: rgb(215, 168, 110);
}