@use '../partials/functions' as f;
@use '../partials/mixins' as *;

#home {
    padding-top: f.rem(70);
    position: relative;

    @include custom-between-mq (350, 449.5) {
        padding-top: 0;
    }

    @include min-mq (sm) {
        padding-top: 0;
    }
}

#home img,
#home source {
    max-width: 100%;
}

#home img {
    overflow-clip-margin: content-box;
    overflow: clip;
    vertical-align: middle;
}

.hero-text {
    position: absolute;
    bottom: 1rem;
    left: 1rem;

    @include min-mq (sm) {
        bottom: 5%;
        left: 3%;
    }
}

.hero-text h2 {
    display: none;

    @include min-mq (sm) {
        display: block;
    }
}