@use './variables' as *;

body {
    background-color: $yellow-1;
}

hr {
    border: 1px solid $orange-3;
}

// navbar
.navbar {
    background-color: $yellow-2a;
    color: $black-1;
}

.navbar__brand {
    color: $black-1;
}

.navbar__toggler {
    background-color: transparent;
    outline: 1px solid $grey-2;
    color: $grey-3;
    border: transparent;

    &:focus {
        outline: 2px solid $grey-3;
    }
}

.navbar__nav-link {
    color: $grey-1;

    &:visited {
        color: $grey-1;
    }

    &:hover {
        color: $black-1;
    }
}

// reservation-form
.reservation__photo img {
    border: 1px solid $white-5;
    background-color: $white-1;
}

.input-control {
    color: $black-2;
}

.textarea-control {
    color: $black-2a;
}

.input-control, .textarea-control {
    background-color: $white-1;
    border: 1px solid $grey-2;
}

/* change textarea color when the user is typing */
.textarea-control.input {
    color: $black-1;
}

input:focus, textarea:focus {
    border: 1px solid $pink-2;
    outline: 1px solid $pink-2;
}

.reservation__form--button {
    background-color: $black-1;
    color: $white-1;
    box-shadow: 1px 1px 1px $grey-4;
}

.reservation__form--button:hover {
    background-color: $black-1a;
}

/* links for 
contacts in findus and
social icons in footer  */
.g-link {
    cursor: pointer;
    color: $brown-1;
}

.g-link:hover {
    color: $brown-2;
}

.g-link:active {
    color: $brown-3;
}
