@use './functions' as f;
@use './variables' as *;
@use './colors' as *;
@use './fonts' as *;
@use './mixins' as *;

body {
    font-family: $bodyfont;
    font-size: clamp(1.25rem, 0.9rem + 1vw, 1.5rem);
}

// logo font in navbar and findus
.g-logofont {
    font-family: $logofont;
    font-size: clamp(2rem, 1.5rem + 1vw, 2.5rem);
}

// navbar
.navbar {
    font-size: clamp(1.5rem, 1rem + 1vw, 2rem);
}

//hero text in home
.hero-text {
    font-family: $logofont;
}

.hero-text h1 {
    font-size: clamp(1.5rem, 1.5rem + 1.5vw, 2.7rem);
}

.hero-text h5 {
    font-size: clamp(1rem, 1rem + 1vw, 2rem);
}

// menu
#menu h1,
#reservation h1 {
    font-size: clamp(2.2rem, 2rem + 1vw, 3rem);
    text-align: center;
    text-shadow: 2px 3px $pink-1;
    margin-block: calc(1.25rem + 1.5vw);
}

// small menu
//buttons when the accordion panel is close
.small-menu__accordion {
    font-size: 1.4rem;
    text-align: left;

    //"plus" sign (+) 
    &:after {
        content: '\002B';
        font-weight: bold;
    }
}

// carousel text
.small-menu__image-description {
    font-size: 1.3rem;
    text-align: center;
}

// large menu
// menu tab
.large-menu__tab {
    font-size: clamp(1.35rem, 1.2rem + 1vw, 2rem);
    text-align: center;
}

// menu content
.large-food-menu {
    line-height: 1.5;
}

// menu description
.large-food-menu h3 {
    font-size: clamp(1.35rem, 1.2rem + 1vw, 1.75rem);
    font-weight: bold;
}

.large-menu__item p {
    font-size: clamp(1.3rem, 0.9rem + 1vw, 1.5rem);
}

.large-menu__item-price {
    font-size: clamp(1.2rem, 1rem + 1vw, 1.4rem);
    font-weight: 700;
    line-height: 0.75rem;
    text-align: center;
}

.large-menu__image-description {
    font-size: clamp(1.3rem, 0.9rem + 1vw, 1.5rem);
    text-shadow: 1px 1px $yellow-3;
}

// reservation form
.textarea-control {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: inherit;
}


























.findus h3 {
    font-size: clamp(1.5rem, 1rem + 1.5vw, 2rem);
    text-align: left;
    padding-block: 0.5rem;
    font-weight: 400;
    border-bottom: 4px dotted $grey-2;
    margin: 0.5rem auto;

    @include custom-min-mq (299.5) {
        text-align: center;
        margin-block: 0 0.7rem;
    }
}


