@use './variables' as *;
@use './colors' as *;
@use './fonts' as *;
@use './mixins' as *;

/* Dancing script for home text */
.hero-text {
    font-family: $logofont;
}

/* logo front-size in navbar and findus */
.g-logofont {
    font-family: $logofont;
    font-size: clamp(2rem, 1.5rem + 1vw, 2.5rem);
    margin: 0;
}

.hero-text h1 {
    font-size: clamp(1.5rem, 1.5rem + 1.5vw, 2.7rem);
}

.hero-text h5 {
    font-size: clamp(1rem, 1rem + 1vw, 2rem);
    display: none;

    @include custom-min-mq (375.5) {
        display: block;
    }
}

#menu h1,
#reservation h1 {
    text-shadow: 2px 3px $pink-1;
    text-align: center;
    font-size: clamp(2.2rem, 2rem + 1vw, 3rem);
    margin-block: calc(1.25rem + 1.5vw);
}

.findus h3 {
    font-size: clamp(1.5rem, 1rem + 1.5vw, 2rem);
    text-align: left;
    padding-block: 0.5rem;
    font-weight: 400;
    border-bottom: 4px dotted $grey-2;
    margin: 0.5rem auto;

    @include custom-min-mq (299.5) {
        text-align: center;
        margin-block: 0 0.7rem;
    }
}



// font-family
// $heading2: 'Boogaloo', cursive;

// h1, h2, h3 {
//     font-family: $heading2;
//     margin-left: 0;
//     margin-bottom: 2rem;
//     font-weight: 700;
//     line-height: 1.2;
//     text-align: left;
// }

// h1 {
//     color: $hero_text-text;
//     font-size: clamp(1.5rem, calc(6vw + 0.5rem), 4rem);
//     text-shadow: 2px 2px white, 3px 3px black;
// }

// h2 {
//     color: $darkgreen;
//     font-size: clamp(1.5rem, calc(5vw + 0.5rem), 3rem);
//     font-variant: small-caps;
//     text-shadow: 2px 2px lightgray;
// }

// h3 {
//     color: $darkgreen;
//     font-size: clamp(1rem, calc(4vw + 0.5rem), 2.2rem);
//     text-shadow: 2px 2px whitesmoke;
// }

// h4 {
//     font-family: $heading2;
//     margin-left: 0;
//     margin-bottom: 0;
//     font-weight: 700;
//     line-height: 1.2;
//     text-align: center;
//     font-size: clamp(1rem, calc(3vw + 0.5rem), 1.9rem);
//     color: $green;
// }

// p {
//     margin-top: 1rem;
//     margin-bottom: 0.5rem;
//     text-align: justify;
//     line-height: 1.6;
//     font-family: 'Inter', sans-serif;

//     @include max-mq(md){
//         text-align: left;
//     }
// }

// button {
//     font-family: $heading2;
// }

// .recyclables-btn.active {
//     font-weight: bolder;
//   }
  
// li {
//     font-family: 'Inter', sans-serif;
// }

// .bold-link {
//     font-weight: bold;
// }

// .section-heading {
//     flex: 1 0 100%;
// }