.reservation__photo img {
    max-height: 400px;
    max-width: 400px;
    width: 95%;
    height: auto;
    border-radius: 0.375rem;
    padding: 0.25rem;
}

@media all and (min-width:575.5px) {   
    .reservation__photo img {
        max-height: 400px;
        max-width: 600px;
    }
}