@use '../../../scss-common-partials/functions' as f;
@use '../../../scss-common-partials/mixins' as *;

// menu on small screen (xxxs to xs) : accordion + carousel
// menu on medium screen (xs to md): menu tab & content, w/o photos, + carousel
// menu on large screen (md to xl): menu tab & content, w/ photos

.small-menu__carousel {
    display: block;

    @include min-mq(md) {
        // display: none;
    }
}

.large-menu {
    display: none;
}

@include min-mq (xs) {

    /* hide the small menu, show the large menu */
    .large-menu__item:nth-of-type(3) {
        border-bottom: 0;
    }

    .small-menu {
        display: none;
    }

    .large-menu {
        display: block;
    }

    /* rounded border menu on wider screen */
    .large-menu__tab {
        border-radius: 25px 25px 0 0;
    }

    .large-food-menu {
        border-radius: 0 0 15px 15px;
    }
}