footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: calc(1rem + 1.5vw);
}

.social-icons {
    margin-bottom: 0.5rem;
}

.social-icons a {
    padding-block: 0.35rem;
}

.social-icons i {
    margin: 0.5rem 0.625rem;
}