@use '../partials/variables' as *;
@use '../partials/colors' as *;
@use '../partials/fonts' as *;
@use '../partials/functions' as f;
@use '../partials/mixins' as *;

.large-menu {
    display: none;
}

/* menu tab */
.large-menu__tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.large-menu__tab {
    flex: 1 0 33.33%;
    border: 1px solid $orange-1;
    background-color: $yellow-2b;
    text-align: center;
    padding: 1rem;
    font-size: clamp(1.35rem, 1.2rem + 1vw, 2rem);
    transition: 0.5s;
    position: relative;
}

.large-menu__tab:hover {
    background-color: $orange-2;
}

.large-menu__tab--active {
    border: 1px solid $orange-1;
    background-color: $orange-2;
    transition: 0.5s;
}

.large-menu__tab-link {
    color: $black-1;
}

.large-menu__tab--active>.large-menu__tab-link {
    color: $yellow-2;
}

.large-menu__tab:hover .large-menu__tab-link {
    color: $white-2;
}

.large-menu__tab-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: f.z('default');
    content: "";
}


/* menu content */
.large-food-menu {
    display: none;
    border: 1px solid $orange-1;
    border-top: 0px;
    text-align: left;
    line-height: 1.5;
    background-color: $white-1;
}

.large-food-menu {
    display: flex;
    flex-direction: column;
}

/* menu description */

.large-food-menu h3 {
    margin: 0;
    padding: 2%;
    padding-left: calc(0.5rem + 1vw);
    font-weight: bold;
    font-size: clamp(1.35rem, 1.2rem + 1vw, 1.75rem);
    display: inline-block;
}

.large-food-menu {
    border-right: 1px solid $orange-1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.large-menu__item {
    display: grid;
    align-content: center;
    border-bottom: 1px solid $orange-1;
}

.large-menu__item p {
    margin: 0;
    padding: 2%;
    padding-left: calc(0.5rem + 1vw);
    font-size: clamp(1.3rem, 0.9rem + 1vw, 1.5rem);
}

.large-menu__item-price {
    display: inline-block;
    background-color: $orange-2;
    color: $white-1;
    text-align: center;
    font-weight: 700;
    font-size: clamp(1.2rem, 1rem + 1vw, 1.4rem);
    border-radius: 10px;
    width: 75px;
    height: 40px;
    padding-block: 1rem;
    line-height: .75rem;
    margin-left: 0.5rem;
}

/* menu photos */
.large-menu__image>* {
    display: none;
}

@include custom-min-mq (400) {
    /* rounded border menu on wider screen */
    .large-menu__tab {
        border-radius: 25px 25px 0 0;
    }

    .large-food-menu {
        border-radius: 0 0 15px 15px;
    }
}

@media all and (min-width:699.5px) {

    /* menu */
    .large-food-menu {
        display: grid;
        grid-template-columns: 7fr 5fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .large-menu__item {
        display: grid;
        align-items: center;
        border-right: 1px solid $orange-1;
    }

    .large-menu__item--1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .large-menu__item--2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .large-menu__item--3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .large-menu__image {
        grid-area: 1 / 2 / 4 / 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2%;
        margin-inline: auto;
    }

    .large-menu__image img {
        max-width: 90%;
    }


    .large-menu__image>* {
        display: block;
    }

}


.large-menu__image-description {
    text-shadow: 1px 1px $yellow-3;
    font-size: clamp(1.3rem, 0.9rem + 1vw, 1.5rem);
    margin-top: 0.5rem;
    margin-bottom: calc(0.65rem + 1vw);
}

@media screen and (min-width:991.5px) {
    .large-food-menu {
        grid-template-columns: 2fr 1fr;
    }

    .large-menu__image {
        max-width: 90%;
    }
}