@use '../partials/variables' as *;
@use '../partials/colors' as *;
@use '../partials/fonts' as *;
@use '../partials/mixins' as *;

.website-content--hidden {
    display: none;
}

.loader__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader__object {
    border-radius: 50%;
    border: 10px solid $white-3;
    border-top: 10px solid $orange-2;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;

    @include min-mq(sm) {
        border: 16px solid $white-3;
        border-top: 16px solid $orange-2;
        width: 120px;
        height: 120px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader__container p {
    margin: 20px auto 0 auto;
    font-family: $logofont;
}