@use '../partials/variables' as *;
@use '../partials/functions' as f;
@use '../partials/mixins' as *;

section.findus {
    padding-block: 2rem;

    @include min-mq (xl) {
        padding-block: 3.5rem;
    }
}

// for whole page vertical alignment
.findus-container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;

    @include min-mq (sm) {
        flex-direction: row;
    }

    @include layout-mw(xs);

    @include layout-mw(sm);

    @include layout-mw(md);

    @include layout-mw(lg);

    @include layout-mw(xl);
}