@use '../partials/functions' as f;
@use '../partials/mixins' as *;

section#findus {
    max-width: 100%;
    padding-inline: 1rem;
    margin-inline: auto;
    padding-block: 1rem;

    @include min-mq (sm) {
        max-width: 800px;
        max-width: f.rem(800);
        padding-inline: 2rem;
    }

    @include min-mq (lg) {
        max-width: 1150px;
        max-width: f.rem(1150);
        padding-inline: 2.5rem;
        padding-block: 5rem;
    }

    @include min-mq (xl) {
        max-width: 1500px;
        max-width: f.rem(1500);
        padding-inline: 2rem;
        padding-block: 2.5rem 3rem;
    }
}