@use '../partials/variables' as *;
@use '../partials/functions' as f;
@use '../partials/mixins' as *;

section.findus {
    padding-block: 2rem;

    @include min-mq (xl) {
        padding-block: 3.5rem;
    }
}

// for whole page vertical alignment
.findus-container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;

    @include min-mq (xs) {
        max-width: f.rem($mw-xs);
    }

    @include min-mq (sm) {
        flex-direction: row;
        max-width: f.rem($mw-sm);
    }

    @include min-mq (md) {
        max-width: f.rem($mw-md);
    }

    @include min-mq (lg) {
        max-width: f.rem($mw-lg);
    }

    @include min-mq (xl) {
        max-width: f.rem($mw-xl);
    }
}