footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: calc(1.5rem + 1vw);
}

.social-icons i {
    margin: 8px 10px 20px 10px;
}