@use '../partials/variables' as *;
@use '../partials/functions' as f;
@use '../partials/mixins' as *;

// styling the section container for menu, reservation and findus
section:not(:first-of-type) {
    max-width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
    padding-block: 2.5rem;

    @include min-mq (xs) {
        max-width: f.rem(800);
        padding-inline: 2rem;
        padding-block: 3rem;
    }

    @include min-mq (md) {
        max-width: f.rem(950);
        padding-inline: 2rem;
        padding-block: 4rem;
    }

    @include min-mq (lg) {
        max-width: f.rem(1150);
        padding-inline: 2.5rem;
        padding-block: 5rem;
    }

    @include min-mq (xl) {
        max-width: f.rem($mw-xl); //mainly for reservation and findus
        padding-inline: 3rem;
        padding-block: 6rem 8.5rem;
    }
}