@use '../partials/variables' as *;
@use '../partials/functions' as f;
@use '../partials/mixins' as *;


// for whole page vertical alignment
.small-menu {
    max-width: 100%;
    margin-inline: auto;

    @include layout-mw(xxs);
}

.large-menu {
    max-width: f.rem($mw-xs);
    margin-inline: auto;

    @include layout-mw(sm);

    @include layout-mw(md);

    @include layout-mw(lg);

    // optimum width for large menu
    @include min-mq (xl) {
        max-width: f.rem($mw-xl-menu);
    }
}
