@use '../partials/variables' as *;
@use '../partials/functions' as f;
@use '../partials/mixins' as *;

// for whole page vertical alignment
.reservation__form {
    max-width: f.rem($mw-xxs);
    margin-inline: auto;

    @include layout-mw(xs);

    @include layout-mw(sm);

    @include layout-mw(md);

    // between lg and xl, showing 3 columns
    @include between-mq (lg,xl) {
        max-width: f.rem($mw-lg);
    }
}

.reservation__form>div {
    max-width: f.rem($mw-xxs);

    @include layout-mw(xs);

    @include min-mq (sm) {
        max-width: 100%;
    }
}