@use '../../../scss-common-partials/variables' as *;
@use '../../../scss-common-partials/functions' as f;
@use '../../../scss-common-partials/mixins' as *;

.reservation__message-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.5);
}

.reservation__message-content {
    background-color: #fefefe;
    border: none;
    width: auto;
    max-width: 90%;
    box-shadow: 0px 0px 3px grey;

    @include min-mq(sm) {
        max-width: auto;
    }
}

.reservation__message-content h2 {
    font-size: clamp(1.5rem, 1rem + 1.5vw, 2rem);
    width: 100%;
    background-color: $yellow-2;
    text-align: center;
    position: relative;
}

.reservation__message__close-button {
    color: grey;
    cursor: pointer;
    padding-inline: 0.5rem;
    font-size: clamp(1.5rem, 1rem + 1.5vw, 2rem);
    position: absolute;
    top: 0;
    right: 0;
}

.reservation__message-content p,
.reservation__message-list {
    margin-left: 1.5rem;

    @include min-mq(sm) {
        margin-left: 4.5rem;
    }
}

.reservation__message-list li:nth-of-type(even) {
    @include min-mq(sm) {
        margin-right: 4.5rem;
    }
}

.reservation__message-content p {
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    padding-right: 1.5rem;

    @include min-mq(sm) {
        padding-top: 1.5rem;
    }
}

.reservation__message-list {
    padding-bottom: 1rem;
    overflow: auto;
    height: 40vh;
    height: 40dvh;
    height: 40svh;

    @include min-mq(xs) {
        display: grid;
        grid-template-rows: repeat(7, auto);
        grid-template-columns: repeat(2, auto);
        column-gap: f.rem(12);
        row-gap: 0;
        justify-content: center;
        align-items: start;
        text-align: left;
        height: 50vh;
        height: 50dvh;
        height: 50svh;
    }

    @include min-mq(sm) {
        padding-bottom: 1.5rem;
        height: auto;
    }
}

.reservation__message__bottom-buttons {
    display: flex;
    flex-direction: row;
}

.reservation__message__bottom-button {
    cursor: pointer;
    width: 50%;
    border: none;
    padding-block: 0.5rem;
}

.reservation__message__bottom-button--confirm {
    background-color: $brown-1;
    color: $yellow-2;
}

.reservation__message__bottom-button--cancel {
    background-color: $grey-2;
    color: $black-1;
}