/* Google fonts for logo */
/* Dancing Script */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: bold;
    src: url('DancingScript-Bold.woff2') format('woff2'),
        url('DancingScript-Bold.woff') format('woff');
    font-display: swap;
}

/* Google font for body */
/* Rancho */
@font-face {
    font-family: 'Rancho';
    font-style: normal;
    font-weight: normal;
    src: url('./Rancho-Regular.woff2') format('woff2'),
        url('./Rancho-Regular.woff') format('woff');
    font-display: swap;
}