@use '../../scss-common-partials/variables' as *;
@use '../../scss-common-partials/mixins' as *;

// carousel
/* Caption text */
.small-menu__image-description {
    border-top: 1px solid #A35A00;
    background-color: #A35A00;
    color: $yellow-2;
}

//Next & previous buttons
.small-menu__carousel__button--prev,
.small-menu__carousel__button--next {
    color: rgb(195, 129, 84);
}

.small-menu__carousel-dot {
    background-color: #fcdeb9;
}

.small-menu__carousel-dot:hover,
.small-menu__carousel-dot.current-dot {
    background-color: rgb(195, 129, 84);
}

// reservation-form
.reservation__photo img {
    border: 1px solid $white-5;
    background-color: $white-1;
}

.mandatory-field {
    color: $red-1;
}

.input-control {
    color: $black-2;
}

.textarea-control {
    color: $black-2a;
}

.input-control,
.textarea-control,
select {
    background-color: $white-1;
    border: 1px solid $grey-2;
}

/* change textarea color when the user is typing */
.textarea-control.input {
    color: $black-1;
}

input:focus,
textarea:focus {
    border: 1px solid $black-1;
    outline: 1px solid $black-1;
}

.error-input {
    border: 1px solid $red-1;
    outline: 1px solid $red-1;
}

.error-message {
    color: $red-1;
}

.reservation__form--button {
    background-color: $black-1;
    color: $white-1;
    box-shadow: 1px 1px 1px $grey-4;

    &:hover {
        outline: 3px solid $orange-4;
    }

    &:focus {
        outline: 3px solid $orange-4;
    }
}

// findus
.findus h2 {
    border-bottom: 4px dotted $grey-2;
}

.contact__icon {
    color: $grey-3;
}

/* links for 
contacts in findus and
social icons in footer  */
.g-link {
    color: $brown-1;
}

.g-link:hover {
    color: $brown-2;
}

.g-link:active {
    color: $brown-3;
}